@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   
    <p class="lead">Welcome to filmAddict. This is a shared film library where you will be able to create and find out about movies you haven't seen yet, with the opportunity to comment and give your free review about them.</p>
   
</div>

