@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   
    <p class="lead">Welcome to filmAddict where you will be able to comment on your movies and find out about the movies you haven't seen yet.</p>
   
</div>

